:root {
    --main-bg-color: #5073e9;
    --bs-primary: #5074e9a9;
    --bs-secondary: #18053f6c;
    --main-text-color: rgb(43, 43, 43);
    --secondary-text-color:rgb(97, 97, 97);
}

body{
    background-color: var(--main-bg-color);
}
main{
    display: flex;
    text-align: center;
    color:var(--bs-secondary);
}
footer {
    color: grey;
}

padding.introduction, .home-examples{
    margin-top: 2%;
    min-height:20vh;
    width: 80vw;

}

.home-examples{
    margin:0;
    display:flex;
    grid-row: 4;
    grid-column:1;
    height:10vw;
    border-radius: 0;
    height: auto;
    justify-content: space-around;
    align-items:center;
}
.testbox {
    height: auto;
    min-width:200px;
    border: white 2px solid;
    border-radius: 5px;
}

footer p{ 
    color: var(--main-text-color);
}

a{
    color: var(--secondary-text-color);
}

.card img{
    height: 150px;
    object-fit: cover;
    overflow-x:hidden;
}


.card-body,.card-header {
    background-color: var(--bs-primary);
    color:var(--bs-secondary);
}

#pricing-card {
    display:flex;
    justify-content: space-evenly;
}

#login {
    display:flex;
    flex-direction: column;
    height:auto;
    width:60vw;
    margin:auto;
    margin-top:10%;
    padding: 5% 5% 15% 5%;
    border: var(--bs-secondary) 5px ridge;
    border-radius: 25px;
}
a:hover{
    color: black;
}
#contact-section,#plan-build{
    display:flex;
    justify-content: center;
    flex-direction: column;
    
}
#testimonial-main {
    align-self:center;
    display:flex;
}


#contact-me{
    display:flex;
    flex-direction: column;
    max-width:50%;
    align-self:center;
    
}
#features ul li{
    list-style-type: none;
    margin:0;
    padding:0;
}

#free ul,#pro ul, #master ul{
    margin:0;
    padding:0;
    margin-bottom: 4%;
}
#plan-builder{
    display:flex;
    flex-direction: column;
    max-width:50%;

}
#check-out{
    justify-self:center;
}
a:visited, a:link{
    color:darkgray;
}

a:active {
    color:black;
}